
body{
    background-color: black;
}
.main_box{
    /* border: 2px solid black; */
width: 70%;
margin: 10vh auto;
padding: 10px;
color: white;
}
.title{
font-size: 2.3em;
font-weight: 600;
}
/* .input-wrap{
    border: 1px solid red;
} */
.input-feild{
    border: 2px solid white;
    font-size: 20px;
    height: 32px;
    outline: none;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: groove;
    width: 100%;
    color: white;
    margin-bottom: 10px;
    padding: 5px 0;
    text-align: left;
    background-color: black;
    
}
.input-feild::placeholder{
    color: white;
}

button{
    font-size: 25px;
    padding: 10px 15px;
    margin: 10px 0;
    width: 10vw;
    font-weight: 700
}
p{
    margin:10px 0;
    font-size: 20px;
}
.error{
    color: red;
}
.no-err{
    color:green
}